:root {
	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --header-bg: #111;
  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);
  
  // CSS Grid Utility
  --grid-gap: 2rem; 

}