.article-header {
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 18px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 14px;
    color: rgba(0,0,0,0.6)
  }
}
@media (max-width: 480px) {
  .featured-image {
    min-height: 300px;
  }
}