.featured-banner {
  display: flex;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
  background-color: var(--header-bg);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.article-header {
  position: relative;
  z-index: 1;
  color: #fff;
  h1 {
    font-size: 36px;
    margin: 0 0 5px 0;
    max-width: 1240px;
    padding: 0 20px;
    line-height: 1.3;
    font-weight: 900;
  }
  time {
    font-size: 14px;
    color: rgba(255,255,255,0.8)
  }
}
.featured-container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.5 !important;
}